* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
 background-color: #F7F7F7;
}

#cursor{
  height: 150px;
  width: 150px;
  background-color: blanchedalmond;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%,-50%) scale(0);
}




#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1.2vw;
  padding-top: 20vh;
}

#page1 h1 {
  font-size: 15.2vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -2px;
}

#video-cantainer {
  height: 100vh;
  width: 100%;
  margin-top: 1vh;

  position: relative;
}

#video-cantainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cantainer #play {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-family: futura;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  opacity: 0;
  scale: 0;
  position: absolute;
  transform: translate(-50%,-50%);
 
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 1vw;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
}

#page2 .elem .dets{
  height: 60px;
  width: 70%;
  border-radius: 50px;
  position: absolute;
  z-index: 9;
  
  background-color: palegoldenrod;
}

#page2 .elem .dets:hover{
  height: 200px;

}


#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#page3 .child{
  height: 55vh;
  width: 40vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img{
  height: 100%;
  width: 100%;

}




@media (max-width: 600px) {
  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  #page1 h1 {
    font-size: 15.5vw;
    letter-spacing: -3px;
  }

  #video-cantainer {
    height: 25vh;
    margin-top: 3vh;
  }

  #video-cantainer #play {
    width: 100px;
    height: 100px;
    font-size: 4vw;
    opacity: 1;
    scale: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 3vw;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem img {
    height: 100%;
    width: 100%;
    scale: 1.1;
    object-fit: cover;
  }

  #page2 .elem .dets{
    height: 40px;
    width: 70%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    
    background-color: palegoldenrod;
  }
}
